<section class="bg-gray-900 text-white">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
    <div class="mx-auto max-w-3xl text-center">
        <div class="mx-auto h-24 w-auto">
            <img src="https://res.cloudinary.com/dyjiz4nff/image/upload/v1680124652/Deployed/Propay/yg7nmlvuiyaacyremugq.png" alt="ProPay" class="mx-auto h-24 w-auto" />
        </div>
      <h1
        class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
      >
        Powerfull App, Powerfull Payments
      </h1>

      <p class="mx-auto mt-4 max-w-xl sm:text-xl sm:leading-relaxed">
        Welcome to ProPay, the ultimate money transaction app for professionals. With ProPay, you
        can easily and securely manage all your financial transactions in one place. Our
        user-friendly interface and advanced security features make it simple and safe to send and
        receive payments, view transaction history, and manage your digital wallet.
      </p>

      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <%= link_to new_user_registration_path do %>
        <div
          class="block w-full rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
        >
          Sign Up
        </div>
        <% end %> <%= link_to new_user_session_path do %>
        <div
          class="block w-full rounded border border-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
        >
          Login
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
